.example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 50vw;
  margin: auto;
  padding: 0 100px;
}

.letterify{
  &__options{
    width: 100%;
    &_directions{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px 0;

      &-checkboxes{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 20px 0;
        justify-content: space-around;
      }
    }
  }
}